<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>تم استلام رسالة جديدة عبر موقعنا </h2>

    <div>
        <ul>
            <li>اسم المرسل: {{name}}</li>
            <li>رقم التليفون : {{phone}}</li>
            <li>الايميل: {{email}}</li>
            <li>
                محتوي الرسالة: 
                <p>{{message}}</p>
            </li>
        </ul>
    </div>
</body>
</html>