<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Order Confirmation</title>
</head>
<style>
    
</style>
<body>
    <div class="container text-center mt-5">
        <div class="intro">
            <h2>
                شكرا لطلبك من المختار للتجارة 
            </h2>
            <p>
                تم تأكيد الطلب رقم {{order.id}}
            </p>
        </div>
    
    </div>
</body>
</html>